.menuLink{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    padding:0.1rem 2rem;
    text-decoration:none;
    font-weight: 300;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    font-weight:400;
    cursor:pointer;
    transition: 0.5s all ease;
}
.active{
    font-size: 20px;
    font-weight: 600;
}
.menuLink:hover{
    transform: scale(1.2,1.2);
}
.parrafo-nav{
    color: #fff;
    font-weight: 600;
    padding-left: 20px;
}

@media screen and (max-width:1162px){
    .menuLink{
        width: 60%;
    }
    .menuLink:hover{
        color:#fff;
        width: 100%;
        background-color:rgb(8, 71, 72);
    }
}






